<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container navbar-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.baseurl }}/">
				<span><img src="https://avatars0.githubusercontent.com/u/52731005?s=200&v=4" alt="Logo"></span> {{ site.title }}
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li {% if page.title=='Welcome to the FVTT Community Wiki!' %} class="active" {% endif %}><a href="{{ "/wiki/" | prepend: site.baseurl }}">Wiki</a></li>
				<li {% if page.title=='Community Modules' %} class="active" {% endif %}><a href="{{ "/wiki/Community-Modules" | prepend: site.baseurl }}">Modules</a></li>
				<li {% if page.tile=='Community Game Systems' %} class="active" {% endif %}><a href="{{ "/wiki/Community-Game-Systems" | prepend: site.baseurl }}">Game Systems</a></li>
			</ul>
		</div>
	</div>
</nav>
