<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body data-instant-allow-external-links>

	{% include topnav.html %}

	<div class="page-content">
		<div class="wrapper">
			{{ content }}
		</div>
	</div>

	{% include footer.html %}
	{% include js_files.html %}

	<!-- instant.page preloading for websites | https://instant.page/ -->
	<script src="//instant.page/2.0.1" type="module" defer integrity="sha384-4Duao6N1ACKAViTLji8I/8e8H5Po/i/04h4rS5f9fQD6bXBBZhqv5am3/Bf/xalr"></script>
</body>

</html>
